@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: #ffeca9;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
}

@media (min-width: 1310px) {
  img {
    transform: scale(1.01); /* Zoom léger pour éliminer les marges */
  }
}

@media (min-width: 1600px) {
  img {
    transform: scale(1.02); /* Zoom un peu plus fort si nécessaire */
  }
}

/* Pour les navigateurs WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #ffeca9; /* Couleur de fond de la piste */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ffeca9, #f399af); /* Dégradé */
  border-radius: 10px;
  border: 2px solid #ffeca9; /* Petite bordure pour mieux se fondre avec la piste */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #f399af, #9945FF); /* Dégradé plus intense au hover */
}

/* Pour Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #f399af #ffeca9; /* Couleur de la barre et de la piste */
}
